<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.horrorsoft.viotimer"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-sdk
            android:minSdkVersion="6"
            android:targetSdkVersion="14"/>
    <application
            android:theme="@style/Theme.Horrorsoft.Viotimer"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:name=".TimerVioApplication_">
        <activity
                android:name=".StartActivity_"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.horrorsoft.viotimer.bluetooth.DeviceListActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/select_device"
                android:theme="@android:style/Theme.Dialog" />
        <activity
                android:name=".SettingActivity_"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".SelectSettingActivity_"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".ProgramActivity_"
                android:screenOrientation="landscape"/>

        <activity
                android:name=".FlightSettingActivity_"
                android:theme="@style/Theme.Sherlock.Light.NoActionBar"
                android:screenOrientation="landscape"/>

        <activity
                android:name="com.lamerman.FileDialog"
                android:screenOrientation="landscape"/>
    </application>
</manifest>
